<h1>About the License Plate Game</h1>
<p>
	The License Plate Game is a Rails version of the road game where one spots
	an out of state license plate and gains points relative to the distance from 
	one's current location (in this implementation: state capitol to state capitol).
	Enjoy!
</p>