<h2>About the License Plate Game</h2>
<h5>
	The License Plate Game is a Ruby on Rails version of the road game where one spots
	an out-of-state license plate and gains points relative to the distance from 
	one's current location (in this implementation: state capitol to state capitol).
	
</h5>