<h2>Player's Index</h2>
<h3>By Highest Score:</h3>

 	

<table class='table'>

	<tr>
		<% pen =[] %>
		<% @array_trio = [] %>
		<% User.all.each do |list| %>
			<% pen.push([list.id, list.name, list.scores.sum(:points).to_i]) %>
		<% end %>
		<% @array_trio = pen.sort_by{|k| k[2]}.reverse %>
		<% @array_trio.each do |i| %>
		
		<td class="player"><%= link_to i[1], user_path(i[0]) %></td> 
		<td class="score"><%= i[2] %></td>
	</tr>
	<% end %>
	
	
</table>


